body{
	padding-bottom: 150px;
}
#background_header{
	background: url('../images/bannertop.jpg') no-repeat;
	background-position: top center;
	background-size:  cover;
	background-attachment: fixed;
}

/* ---------------- Barra de rolagem Google Chrome---------------- */
::-webkit-scrollbar {
width: 5px; 
height: 5px; 
}
::-webkit-scrollbar-track-piece { 
background: $background_menu_ative; 
}
::-webkit-scrollbar-thumb:vertical { 
height: 5px; 
background: $border_color; 
border-radius: 4px; 
}
::-webkit-scrollbar-thumb:horizontal {
width: 2px; 
background-color: $border_color; 
}

/* ------------------------- Redes Sociais ----------------------*/
.sprite_social{
	background-image: url('../images/spritesheetRedesSocias.png');
	background-repeat: no-repeat;
}

a{
	text-decoration: none;
	color: $font_color;
	transition: all 0.4s linear;
	&:hover{
		transition: all 0.4s linear;
		color:  $font_color_menu;
		text-decoration: none;
}
}