body{
	padding-bottom: 150px;
}

#background_header{
	background: url('../images/bannertop.jpg') no-repeat;
	background-position: top center;
	background-size:  cover;
	background-attachment: fixed;
}

/* ---------------- Barra de rolagem Google Chrome---------------- */
::-webkit-scrollbar {
width: 5px; 
height: 5px; 
}
::-webkit-scrollbar-track-piece { 
background: $background_menu_ative; 
}
::-webkit-scrollbar-thumb:vertical { 
height: 5px; 
background: $border_color; 
border-radius: 4px; 
}
::-webkit-scrollbar-thumb:horizontal {
width: 2px; 
background-color: $border_color; 
}

/* ------------------------- Redes Sociais ----------------------*/
.sprite_social{
	background-image: url('../images/spritesheetRedesSocias.png');
	background-repeat: no-repeat;
}

a{
text-decoration: none;
color: $font_color;
transition: all 0.4s linear;
	&:hover{
		transition: all 0.4s linear;
		color:  $font_color_menu;
		text-decoration: none;
	}
}

@-webkit-keyframes fadeIn {
	0% { opacity: 0; }
	100% { opacity: 1; } 
	}
	@-moz-keyframes fadeIn {
	0% { opacity: 0;}
	100% { opacity: 1; }
	}
	@-o-keyframes fadeIn {
	0% { opacity: 0; }
	100% { opacity: 1; }
	}
	@keyframes fadeIn {
	0% { opacity: 0; }
	100% { opacity: 1; }
	}

	.fadeIn {
	-webkit-animation: fadeIn 2s ease-in-out;
	-moz-animation: fadeIn 2s ease-in-out;
	-o-animation: fadeIn 2s ease-in-out;
	animation: fadeIn 2s ease-in-out;
	}

	.fadeImg {
	opacity:0;
	-webkit-animation: fadeIn 1s ease-in-out;
	-moz-animation: fadeIn 1s ease-in-out;
	-o-animation: fadeIn 1s ease-in-out;
	animation: fadeIn 1s ease-in-out; 
	-webkit-animation-fill-mode:forwards;
	-moz-animation-fill-mode:forwards;
	-o-animation-fill-mode:forwards;
	animation-fill-mode:forwards;}

	.fadeImg-delay {	
	-webkit-animation-delay:3s;
	-moz-animation-delay:3s;
	-o-animation-delay:3s;
	animation-delay:3s;}

	.fadeIcon1 {
	opacity:0;
	-webkit-animation: fadeIn 1s ease-in-out;
	-moz-animation: fadeIn 1s ease-in-out;
	-o-animation: fadeIn 1s ease-in-out;
	animation: fadeIn 2s ease-in-out; 
	-webkit-animation-fill-mode:forwards;
	-moz-animation-fill-mode:forwards;
	-o-animation-fill-mode:forwards;
	animation-fill-mode:forwards;}

	.fadeIcon2 {
	opacity:0;
	-webkit-animation: fadeIn 1s ease-in-out;
	-moz-animation: fadeIn 1s ease-in-out;
	-o-animation: fadeIn 1s ease-in-out;
	animation: fadeIn 4s ease-in-out; 
	-webkit-animation-fill-mode:forwards;
	-moz-animation-fill-mode:forwards;
	-o-animation-fill-mode:forwards;
	animation-fill-mode:forwards;}

	.fadeIcon3 {
	opacity:0;
	-webkit-animation: fadeIn 1s ease-in-out;
	-moz-animation: fadeIn 1s ease-in-out;
	-o-animation: fadeIn 1s ease-in-out;
	animation: fadeIn 5.5s ease-in-out; 
	-webkit-animation-fill-mode:forwards;
	-moz-animation-fill-mode:forwards;
	-o-animation-fill-mode:forwards;
	animation-fill-mode:forwards;}

	.fadeIcon4 {
	opacity:0;
	-webkit-animation: fadeIn 1s ease-in-out;
	-moz-animation: fadeIn 1s ease-in-out;
	-o-animation: fadeIn 1s ease-in-out;
	animation: fadeIn 6s ease-in-out; 
	-webkit-animation-fill-mode:forwards;
	-moz-animation-fill-mode:forwards;
	-o-animation-fill-mode:forwards;
	animation-fill-mode:forwards;}

	.fadeMenu1 {
	opacity:0;
	-webkit-animation: fadeIn 1s ease-in-out;
	-moz-animation: fadeIn 1s ease-in-out;
	-o-animation: fadeIn 1s ease-in-out;
	animation: fadeIn 1s ease-in-out; 
	-webkit-animation-fill-mode:forwards;
	-moz-animation-fill-mode:forwards;
	-o-animation-fill-mode:forwards;
	animation-fill-mode:forwards;}

	.fadeMenu2 {
	opacity:0;
	-webkit-animation: fadeIn 1s ease-in-out;
	-moz-animation: fadeIn 1s ease-in-out;
	-o-animation: fadeIn 1s ease-in-out;
	animation: fadeIn 2s ease-in-out; 
	-webkit-animation-fill-mode:forwards;
	-moz-animation-fill-mode:forwards;
	-o-animation-fill-mode:forwards;
	animation-fill-mode:forwards;}

	.fadeMenu3 {
	opacity:0;
	-webkit-animation: fadeIn 1s ease-in-out;
	-moz-animation: fadeIn 1s ease-in-out;
	-o-animation: fadeIn 1s ease-in-out;
	animation: fadeIn 3s ease-in-out; 
	-webkit-animation-fill-mode:forwards;
	-moz-animation-fill-mode:forwards;
	-o-animation-fill-mode:forwards;
	animation-fill-mode:forwards;}

	.fadeMenu4 {
	opacity:0;
	-webkit-animation: fadeIn 1s ease-in-out;
	-moz-animation: fadeIn 1s ease-in-out;
	-o-animation: fadeIn 1s ease-in-out;
	animation: fadeIn 4s ease-in-out; 
	-webkit-animation-fill-mode:forwards;
	-moz-animation-fill-mode:forwards;
	-o-animation-fill-mode:forwards;
	animation-fill-mode:forwards;}