body{
	padding-bottom: 150px;
}

.sprite_social{
	background-image: url('../images/spritesheetRedesSocias.png');
	background-repeat: no-repeat;
}

.sprite_contato{
	background-image: url('../images/spritesheetContato.png');
	background-image: no-repeat;
} 