#reuniao{
	margin-top: 5px;
	
	.container-fluid{

		hgroup{
		text-align: center;
		color: $font_color;
		font-family: $font_main;

			.img-container{
			@include make-xs-column(12);
			@include make-sm-column(6);
			@include make-md-column(5);
			
				
				.img-container__img{
				@include make-xs-column-offset(0);
				@include make-sm-column-offset(0);
				@include make-md-column-offset(2);
					
					a{
						> .img-responsive{
						transition: all 0.2s linear;
						max-width: 100%;
						height: auto;
						display: block;
						margin: auto;
						}
						.img-container:hover, img-container__img:hover, img:hover{
								transition: all 0.2s linear;
								-webkit-transform: scale(1.1);
								-ms-transform: scale(1.1);
							     transform: scale(1.1);
						}
					}
				}
			}
			
			.conteudo{
			@include make-xs-column(12);
			@include make-sm-column(6);
			@include make-md-column(6);
				
				.conteudo-container__conteudo{
				@include make-xs-column-offset(0);
				@include make-sm-column-offset(0);
				@include make-md-column-offset(1);
					a{
						> h2{
							font-size: $font_size_titulos;
						}
					}

					> p{
						font-size: $font_size_paragrafos;
						padding-top: 25px;
					}
				}
			}
		}
	}
}