#titulo.container{
	text-align: center;
	color: #3F3F51;
	font-family: Rubik Mono One;

	.titulo-container{
		@include make-xs-column(12);
		@include make-sm-column(12);
		@include make-md-column(12);

		.titulo-container__titulo{
			@include make-xs-column-offset(0);
			@include make-sm-column-offset(0);
			@include make-md-column-offset(0);

			> h2{
	
			}
		}
	}
}

#email{
	
	.container{

		form{
			color: #3F3F51;
			font-family: Lora;

			.nome-container{
				@include make-xs-column(0);
				@include make-sm-column(0);
				@include make-md-column(3);

				.nome-container__nome{
					@include make-xs-column-offset(0);
					@include make-sm-column-offset(0);
					@include make-md-column-offset(0);

					.nome{

						> #nomeid{

						}

						> label{
							
						}
					}
				}
			}

			.fone-container{
				@include make-xs-column(0);
				@include make-sm-column(0);
				@include make-md-column(3);

				.fone-container__fone{
					@include make-xs-column-offset(0);
					@include make-sm-column-offset(0);
					@include make-md-column-offset(0);

					.fone{

						> #foneid{

						}

						> label{
							
						}
					}
				}
			}

			.email-container{
				@include make-xs-column(0);
				@include make-sm-column(0);
				@include make-md-column(3);

				.email-container__email{
					@include make-xs-column-offset(0);
					@include make-sm-column-offset(0);
					@include make-md-column-offset(0);

					.email{

						> #emailid{

						}

						> label{
							
						}
					}
				}
			}

			.text-container{
				@include make-xs-column(0);
				@include make-sm-column(0);
				@include make-md-column(3);

				.text-container__text{
					@include make-xs-column-offset(0);
					@include make-sm-column-offset(0);
					@include make-md-column-offset(0);

					.text{
						
						textarea{

						}
					}
				}
			}
			
			.enviar-container{
				@include make-xs-column(0);
				@include make-sm-column(0);
				@include make-md-column(11);

				.enviar-container__enviar{
					@include make-xs-column-offset(0);
					@include make-sm-column-offset(0);
					@include make-md-column-offset(12);

					.submit{

						input{

						}
					}
				}
			}
		}
	}
}

#dicas{
	
	.container{

		hgroup{
			font-family: Rubik Mono One;
			text-align: center;
			color: #3F3F51;

			.dicas-container{
				@include make-xs-column(12);
				@include make-sm-column(12);
				@include make-md-column(12);

				.dicas-container__dicas{
					@include make-xs-column-offset(0);
					@include make-sm-column-offset(0);
					@include make-md-column-offset(0);

					> h2{

					}

					> p{

					}
				}
			}
		}
	}
}