#titulo.container{
	text-align: center;
	color: $font_color;
	font-family: $font_main;

	.titulo-container{
		@include make-xs-column(12);
		@include make-sm-column(12);
		@include make-md-column(12);

		.titulo-container__titulo{
			@include make-xs-column-offset(0);
			@include make-sm-column-offset(0);
			@include make-md-column-offset(0);

			> h2{
				font-size: $font_size_titulos;
			}
		}
	}
}

.email-container{
	@include make-xs-column(12);
	@include make-sm-column(5);
	@include make-md-column(4);
		
		.email-container__email{
			@include make-xs-column-offset(0);
			@include make-sm-column-offset(0);
			@include make-md-column-offset(2);
		}
}

#dicas{
	
	.container{

		hgroup{
			font-family: $font_main;
			text-align: center;
			color: $font_color;
			margin-top: 50px;
			.dicas-container{
				@include make-xs-column(12);
				@include make-sm-column(7);
				@include make-md-column(8);

				.dicas-container__dicas{
					@include make-xs-column-offset(0);
					@include make-sm-column-offset(0);
					@include make-md-column-offset(2);

					> p{
						font-size: $font_size_paragrafos;
					}
				}
			}
		}
	}
}

#Eu-contato{
	hgroup{
	font-family: $font_main;
	text-align: center;
	color: $font_color;

		.titulo_container{
		@include make-xs-column(12);
		@include make-sm-column(12);
		@include make-md-column(12);
			> a{
				> h2{
				font-size: $font_size_titulos;
				}
			}
		}

		.eu-container{
				@include make-xs-column(12);
				@include make-sm-column(12);
				@include make-md-column(12);
					> .eu-container__eu{

						>a{
							> .img-responsive{
								transition: all 0.2s linear;
								max-width: 100%;
								height: auto;
								display: block;
								margin: auto;
							}
							.eu-container:hover, eu-container__eu:hover, img:hover{
										transition: all 0.2s linear;
										-webkit-transform: scale(1.1);
										-ms-transform: scale(1.1);
									     transform: scale(1.1);
							}
						}
					}
				}

		.paragrafo_container{
			> p{
				font-size: $font_size_paragrafos;
			}
		}
	}	
}