#titulo.container{
	text-align: center;
	color: $font_color;
	font-family: $font_main;

	.titulo-container{
		@include make-xs-column(12);
		@include make-sm-column(12);
		@include make-md-column(12);

		.titulo-container__titulo{
			@include make-xs-column-offset(0);
			@include make-sm-column-offset(0);
			@include make-md-column-offset(0);

			> h2{
				font-size: $font_size_titulos;
			}
		}
	}
}

.email-container{
	@include make-xs-column(12);
	@include make-sm-column(5);
	@include make-md-column(4);
		
		.email-container__email{
			@include make-xs-column-offset(0);
			@include make-sm-column-offset(0);
			@include make-md-column-offset(2);
		}
}

#dicas{
	
	.container{

		hgroup{
			font-family: $font_main;
			text-align: center;
			color: $font_color;
			margin-top: 50px;
			.dicas-container{
				@include make-xs-column(12);
				@include make-sm-column(7);
				@include make-md-column(8);

				.dicas-container__dicas{
					@include make-xs-column-offset(0);
					@include make-sm-column-offset(0);
					@include make-md-column-offset(2);

					> p{
						font-size: $font_size_paragrafos;
					}
				}
			}
		}
	}
}