body{
	> header{
		padding: 15px;
		
		>.content{
			@include make-row;
				
				>.logo-container{
				@include make-xs-column(6);
				@include make-sm-column(5);
				@include make-md-column(3);

					>.logo-container__logo{
					@include make-xs-column-offset(0);
					@include make-sm-column-offset(1);
					@include make-md-column-offset(3);
					position: relative;
					}
				}
			}
		}
	
	> #navegacao{
	background-color: #876ED7;
	border-top: 3px solid #412C84;
	border-bottom: 3px solid #412C84;
		
		> .container{
		
			> #navegacao__content{
				@include make-xs-column(12);
				@include make-sm-column(12);
				@include make-md-column(12);
				
				.navbar{
				@include make-xs-column-offset(0);
				@include make-sm-column-offset(0);
				@include make-md-column-offset(3);
				border-radius: 0px;
				background-color: #876ED7;
				border: none;
				margin-bottom: 0px;
					
					 .container-fluid{

						> .navbar-toggle{
							

							> span{

							}
						}	
								.navbar-collapse{
									background-color: #876ED7;
									border: none;
									font-size: 18px;
									font-family: $font_main;
									
										> ul.navbar-nav{
										 	
										 	> li{
										 		
										 		> .dropdown-menu{
										 			background-color: #876ed7;

										 		}
											 		
											 		&.active{
											 			
											 			> a{
											 				background: #6c8cd5;
											 			}
											 		}
											 		
											 		a{
											 		color: #06266E;
													padding-top: 30px;
													padding-bottom: 0px;
													&:hover{
														background: #6c8cd5;
													}
											 		}
										 	}
										}
								}
					}
				}
			}

		}

	}
}