#banner.jumbotron{
	background-color: $background_color;
	margin-top: 5px;
	margin-bottom: 0px;

		.container{
		
			
			hgroup{
				position: relative;
				color: $font_color;
				font-family: $font_main;
				text-align: center;

				.img-container{
					@include make-xs-column(12);
					@include make-sm-column(6);
					@include make-md-column(5);

					 .img-container__img{
						@include make-xs-column-offset(0);
						@include make-sm-column-offset(0);
						@include make-md-column-offset(0);
						
						> img{
							max-width: 100%;
							height: auto;
							display: block;
							margin: auto;
						}
					}
				}
					
				.conteudo{
			        @include make-xs-column(12);
					@include make-sm-column(6);
					@include make-md-column(7);
						a{
							> h2{
								font-size: $font_size_titulos;
							}
						}
							
							> p{
								font-size: $font_size_paragrafos;
								padding-top: 25px;
							} 
				}
			}
		}
}