#banner.jumbotron{
	background-image: url('../images/bannertop.jpg');
	background-repeat: no-repeat;
	background-position: top center;
	background-size:  cover;
	background-attachment: fixed;
	margin-top: 5px;
	margin-bottom: 0px;

		.container{
		
			
			hgroup{
				color: $font_color_slider;
				position: relative;
				font-family: $font_main;
				text-align: center;
					
				.conteudo{
			        @include make-xs-column(12);
					@include make-sm-column(12);
					@include make-md-column(12);
						a{
						text-decoration: none;
							> h2{
							transition: all 0.4s linear;
								font-size: $font_size_titulos;
								color: $font_color_slider;
							}
							&:hover > h2{
								transition: all 0.4s linear;
								color:  $font_color_hover;
							}
						}
							
							> p{
								font-size: $font_size_paragrafos;
								padding-top: 25px;
							} 
						
				}
			}
		}
}