footer{

	 .navbar{
	 	background-color: $background_color;
	 	border-radius: 4px;

	 	.container-fluid{
	 		font-family: $font_lora;

	 		.contato__item{
	 			@include make-xs-column(0);
	 			@include make-sm-column(1);
	 			@include make-md-column(1);
	 			border-radius: 4px;
	 			transition: all 0.5s linear;
	 			
	 			> .celular, .email{	
	 				margin-top: 5px;
		 			a{
		 							
		 				> .img-responsive{
		 					max-width: 100%;
							height: auto;
							display: block;
							margin: auto; 
							border-radius: 4px;
							transition: all 0.5s linear;
		 				}
		 				&:hover > .img-responsive{
	 						transition: all 0.5s linear;
	 						box-shadow: 5px 0px 9px;
	 					}
	 				}
	 			}
	 						
	 			a{

	 				> .img-responsive{
	 					max-width: 100%;
						height: auto;
						display: block;
						margin: auto; 
						border-radius: 4px;
						transition: all 0.5s linear;
	 				}
	 				&:hover > .img-responsive{
	 					transition: all 0.5s linear;
	 					box-shadow: 5px 0px 9px;
	 				}
	 			}
	 		}
	 		&:hover > .contato__item{
	 			transition: all 0.5s linear;
	 			margin-top: 10px;
	 		}

			.celular-container{
				@include make-xs-column(12);
				@include make-sm-column(3);
				@include make-md-column(3); 

				 .celular-container__celular{
				 	@include make-xs-column-offset(0);
					@include make-sm-column-offset(0);
					@include make-md-column-offset(0);
								
					> h3{
						font-size: $font_size_rodape;
						margin: 0px;
						padding: 0px;
					}
				}
			}

			.email-container{
				@include make-xs-column(12);
				@include make-sm-column(4);
				@include make-md-column(3);

				.email-container__email{
				 	@include make-xs-column-offset(0);
					@include make-sm-column-offset(0);
					@include make-md-column-offset(0);

					> h3{
						font-size: $font_size_rodape;
						margin: 0px;
						padding: 0px;
					} 
				}
			}

			.developer-container{
				@include make-xs-column(12);
				@include make-sm-column(12);
				@include make-md-column(2);

				.developer-container__developer{
					@include make-xs-column-offset(0);
					@include make-sm-column-offset(0);
					@include make-md-column-offset(0);

					a{
						> h4{
							font-size: $font_size_rodape;
							text-align: center;
							margin: 0px;
					 		padding: 0px;
						}
					}
				}
			}

			.img-container{
				@include make-xs-column(0);
				@include make-sm-column(2);
				@include make-md-column(2);
 
				.img-container__img{
					@include make-xs-column-offset(0);
					@include make-sm-column-offset(0);
					@include make-md-column-offset(0);

					> img{
						max-width: 100%;
						height: auto;
						display: block;
						margin: auto;  

					}
				}
			}					
		}
	}
}