footer{
	
	 .navbar{
	 	background-color: $background_color;
	 	border-top: 3px solid $border_color;
	 		
	 		.container-fluid{
	 				font-family: $font_lora;

							> .contato__item{
								@include make-xs-column(1);
								@include make-sm-column(1);
								@include make-md-column(1);

								> a{
									@include make-xs-column-offset(0);
									@include make-sm-column-offset(0);
									@include make-md-column-offset(0);

									display: block;

									> span{
										display: block;
										min-width: 64px;
										width: 100%;
										line-width: 64px;

										@extend .sprite_contato;

										 &.celular{
											@include sprite-define(60px, 64px, -153px, -5px);
										}

										 &.email{
											@include sprite-define(60px, 64px, -5px, -5px);
										}
									}
								}
							}
											.h3celular-container{
				 								@include make-xs-column(5);
												@include make-sm-column(5);
												@include make-md-column(3); 

				 								.h3celular-container__celular{
				 									@include make-xs-column-offset(0);
													@include make-sm-column-offset(0);
													@include make-md-column-offset(0);
										 			> h3{
										 			 	font-size: $font_size_titulos_h3;
										 			 	margin-top: 10px;
										 			 	padding: 0px;
										 			}
								 				}
								 			}

				 	.h3email-container{
				 		@include make-xs-column(5);
						@include make-sm-column(5);
						@include make-md-column(4);

				 		.h3email-container__email{
				 			@include make-xs-column-offset(0);
							@include make-sm-column-offset(0);
							@include make-md-column-offset(0);

						 			> h3{
						 				font-size: $font_size_titulos_h3;
						 				margin-top: 10px;
						 				padding: 0px;
						 			}
				 		}
				 	}

					.h4developer-container{
						@include make-xs-column(9);
						@include make-sm-column(10);
						@include make-md-column(2);

						.h4developer-container__developer{
							@include make-xs-column-offset(0);
							@include make-sm-column-offset(0);
							@include make-md-column-offset(0);

							> h4{
								text-align: center;
								margin-top: 10px;
				 				padding: 0px;
							}
						}
					}

					.img-container{
						@include make-xs-column(3);
						@include make-sm-column(2);
						@include make-md-column(1);

						.img-container__img{
							@include make-xs-column-offset(0);
							@include make-sm-column-offset(0);
							@include make-md-column-offset(0);

							> img{
								max-width: 100%;
								height: auto;
								display: block;
								margin: auto;  

							}
						}
					}					
		}
	}

}