#slider .item{
	position: relative;

					> img{
					display: block;
					width: 100%;
					height: auto;
					padding-top: 30px;
					}
}

.article{
	width: 300px;

		> hgroup{
			text-align: center;
			> h2{

			}

			> p{
			padding-top: 50px;
			}
		}
	}