#sliderservicos{
	margin-bottom: 5px;

	.carousel-inner{
		margin-top: 5px;
		
		hgroup{
			font-family: Lora;
			color: #3F3F51;

			> h2{
				font-size: 28px;
				text-align: center;
			}
			
			> img{

			}

			.carousel-caption{

				> p{
					font-size: 17px;
					color: #FFFFFF;
				}
			}

		}
	}

}