#sliderservicos{
	margin-bottom: 5px;

	.carousel-inner{
		margin-top: 5px;
		
		hgroup{
			font-family: $font_lora;
			color: $font_color;

			> h2{
				font-size: $font_size_titulos;
				text-align: center;
			}
			
			> img{
				max-width: 100%;
				height: auto;
				display: block;
				margin: auto;
			}

			.carousel-caption{

				> p{
					font-size: $font_size_slider_caption;
					color: $font_color_slider;
				}
			}

		}
	}

}