$font_main: 'Rubik Mono One';
$font_lora: 'Lora';

$font_color: #3F3F51;
$font_color_slider: #FFFFFF;
$font_size_slider_caption: 17px;
$background_color: #876ed7;
$border_color: #412C84;
$font_size_titulos: 25px;
$font_size_titulos_h3: 20px;
$font_size_paragrafos: 13px;