$font_main: 'Baloo' , cursive;

$font_color: #3F3F51;
$font_color_slider: #ffffff;
$font_color_menu: #06266E;

$font_size_titulo_bar: 28px;
$font_size_slider_caption: 25px;
$font_size_titulos: 33px;
$font_size_titulos_h3: 23px;
$font_size_paragrafos: 25px;
$font_size_menu: 25px;
$font_size_rodape: 22px;
$font_size_label: 20px; 

$background_color: #876ed7;
$background_menu_ative: #6c8cd5;
$border_color: #412C84; 
 