$font_main: 'Rubik Mono One';
$font_lora: 'Lora';

$font_color: #3F3F51;
$font_color_slider: #ffffff;
$font_color_menu: #06266E;
 
$font_size_slider_caption: 20px;
$font_size_titulos: 25px;
$font_size_titulos_h3: 20px;
$font_size_paragrafos: 13px;
$font_size_menu: 16px;
$font_size_rodape: 16px; 

$background_color: #876ed7;
$background_menu_ative: #6c8cd5;
$border_color: #412C84;
 